@import '@/assets/styles/mixin.scss';
.common-layout{
  color: var(--color-primary);
  height: 100%;
  .el-container{
    height: 100%;
    .el-main{
      overflow: hidden;
      > div{
        height: 100%;
      }
    }
    .global-header{
      height: 100%;
      @include flex-direction-style($justify-content: space-between);
      @include border-style(bottom);
      > div{
        @include flex-direction-style();
      }
      .full-screen{
        @include flex-direction-style();
        cursor: pointer;
      }
      .user-ceter{
        @include flex-direction-style();
        .el-dropdown{
          cursor: pointer;
          margin-left: 10px;
          .el-dropdown-link{
            @include flex-direction-style();
          }
        }
      }
    }
    .global-footer{
      height: 100%;
      @include flex-direction-style();
      @include border-style(top)
    }
    .el-aside {
      position: relative;
      // transition: width 0.3s ease;
      overflow: visible;
      .aside{
        height: 100%;
      }
      .side-drag-bar {
        position: absolute;
        @include border-style(right);
        right: -4px;
        top: 0;
        z-index: 5;
        box-sizing: border-box;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 8px;
        height: 100%;
        margin-left: -1px;
        &:hover {
          cursor: col-resize;
        }
      }
    }
    .main-logo{
      @include flex-direction-style();
      padding: 22px 28px;
    }
  }
}