html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Encode Sans Condensed', sans-serif;
  color: var(--el-color-primary);
}

/* router view transition fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.1s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;

  &:hover {
    background-color: #a8a8a8;
  }
}
